In [2]:
import pandas as pd

In [7]:
cars = pd.read_csv("carsdata.csv")

In [8]:
cars

   Unnamed: 0       brand     model  year  price
0         idx       brand     model  year  price
1           0       Tesla   Model 3  2018  14000
2           1        Ford   Mustang  2007   5000
3           2      Toyota     Camry  2022  20500
4           3         BMW        M5  2019  50000
5           4       Honda     Civic  2020  12300
6           5   Chevrolet    Malibu  2016   9800
7           6      Nissan    Altima  2015   8700
8           7        Audi        A4  2018  26500
9           8     Hyundai   Elantra  2021  16200
10          9         Kia    Optima  2019  14500
11         10    Mercedes      C300  2017  28900
12         11      Subaru   Outback  2020  22300
13         12  Volkswagen     Jetta  2016   9100
14         13        Ford     F-150  2018  32000
15         14      Toyota   Corolla  2014   7200
16         15       Honda    Accord  2021  24500
17         16       Tesla   Model Y  2022  48000
18         17         BMW      330i  2016  21500
19         18   Chevrolet    Impala  2015   8900
20         19      Nissan     Rogue  2020  19800
21         20        Audi        Q5  2019  37500
22         21     Hyundai    Tucson  2017  13400
23         22         Kia   Sorento  2018  17900
24         23    Mercedes       GLA  2020  33500
25         24      Subaru  Forester  2019  21200
26         25      Toyota      RAV4  2021  26800
27         26        Ford    Escape  2016  10400
28         27  Volkswagen    Tiguan  2020  25100
29         28       Honda      CR-V  2018  19700
30         29   Chevrolet     Tahoe  2017  38900